# Use your MinIO access key
MINIO_ACCESS_KEY=<minio_access_key>

# Default value shown for guidance
MINIO_SECRET_KEY=<minio_secret_key>

# MinIO endpoint
MINIO_ENDPOINT=<minio_endpoint>
 
# Whether MinIO should use HTTPS (false for http)
MINIO_SECURE=<true_or_false>